<!DOCTYPE html>
<html lang="fr" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Détails du Festival</title>
  <link rel="stylesheet" href="https://unpkg.com/leaflet@1.9.4/dist/leaflet.css"
        integrity="sha256-p4NxAoJBhIIN+hmNHrzRCf9tD/miZyoHS5obTRR9BMY="
        crossorigin=""/>
  <!-- Leaflet.markercluster CSS -->
  <link rel="stylesheet" href="https://unpkg.com/leaflet.markercluster/dist/MarkerCluster.css">
  <link rel="stylesheet" href="https://unpkg.com/leaflet.markercluster/dist/MarkerCluster.Default.css">
  <link rel="stylesheet" th:href="@{/css/style.css}">
  <link rel="stylesheet" th:href="@{/css/festivals.css}">
  <link rel="stylesheet" th:href="@{/css/mapStyle.css}" />
  <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}" />
  <style>
    @import url('https://fonts.googleapis.com/css2?family=Bungee+Shade&display=swap');
    @import url('https://fonts.googleapis.com/css2?family=Bungee&display=swap');
  </style>
  <script th:src="@{/js/mapScriptFestivalDetails.js}"></script>
</head>
<body>
<!-- Inclusion de la barre de navigation -->
<div th:replace="fragments/navbar :: navbar"></div>
<div class="festiv-page">

  <div class="container home-page">
    <div class="home-content">
      <div class="row">
        <div class="col-md-12">
          <!-- Bouton "Retour" -->
          <button type="button" class="btn btn-secondary" onclick="window.history.back()">Retour</button>
              <div class="card card-body">
                <h3 th:text="${festival.getNom_du_festival()}" class="card-title"></h3>
                <div th:text="${festival.getPeriode_principale_de_deroulement_du_festival()}" class="card-subtitle"></div>
                <a th:href="${festival.getSite_internet_du_festival()}" target="_blank" class="btn btn-outline-dark"><h4>Voir le
                  site</h4></a>
                <p th:text="${festival.getCommune_principale_de_deroulement()}" class="card-text"></p>
                <p th:text="${festival.getSous_categorie_musique()}" class="card-text"></p>
              </div>
              <!-- Section des commentaires -->
              <div class="comments">
                <div class="card card-body">
                  <h3>Commentaires :</h3>
                  <!-- Insérez ici vos commentaires Thymeleaf -->
                  <div th:each="comment : ${comments.getComments()}">
                    <div th:if="${comment.getFestivalId() == festival.getNom_du_festival()}">
                      <span class="comment-author" th:text="${comment.getAuthor()}"></span>
                      <span class="comment-date" th:text="${comment.getDate()}"></span>
                      <p th:text="${comment.getContent()}" class="card-footer text-muted"></p>
                    </div>
                  </div>
                  <!-- Vous pouvez itérer sur les commentaires associés à chaque festival -->
                  <!-- Ajouter un commentaire collapsible -->
                  <!-- Formulaire pour ajouter un commentaire -->

                  <form th:action="@{/addComment}" method="post" enctype="multipart/form-data">
                    <input type="hidden" name="festivalId" th:value="${festival.getNom_du_festival()}">
                    <input type="hidden" name="date" id="commentDate">
                    <input type="hidden" name="id" th:value="${T(java.util.UUID).randomUUID().toString()}">
                    <div class="form-group">
                      <h3>Ajouter un commentaire</h3>
                      <label for="author" class="comment-author">Votre nom</label>
                      <input type="text" class="form-control" id="author" name="author" required>
                    </div>
                    <div class="form-group">
                      <label for="content" class="comment-author">Commentaire</label>
                      <textarea class="form-control" id="content" name="content" rows="3" required></textarea>
                    </div>
                    <button type="submit" class="btn btn-success">Ajouter</button>
                  </form>
                </div>
              </div>
            </div>
    </div>
  </div>

  </div>

  <div id="map"></div>
  <script src="https://unpkg.com/leaflet@1.9.4/dist/leaflet.js"
          integrity="sha256-20nQCchB9co0qIjJZRGuk2/Z9VM+kNiyxNV1lvTlZBo="
          crossorigin=""></script>
  <script src="https://unpkg.com/leaflet.markercluster/dist/leaflet.markercluster.js"></script>
  <script th:src="@{/js/mapScriptFestivalDetails.js}"></script>

  <!-- Charger les scripts Bootstrap via Thymeleaf -->
  <script th:src="@{/webjars/jquery/3.5.1/jquery.min.js}"></script>
  <script th:src="@{/webjars/popper.js/2.5.4/umd/popper.min.js}"></script>
  <script th:src="@{/webjars/bootstrap/4.5.2/js/bootstrap.min.js}"></script>
  <script>document.getElementById("commentDate").value = new Date().toISOString();</script>
</div>
<div th:replace="fragments/footer :: footer"></div>
</body>
</html>
